---
const allWords = await Astro.fetchContent('./*.md')
---

<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>新话语词典</title>
		<style global>
			@import "../styles/global.css";
		</style>
	</head>

	<body class="bg-red-32 text-yellow-32 font-serif font-bold">
		<a class="no-underline text-3xl" href="https://github.com/weakish/new-china-speak/" hreflang="en">&lt;/&gt;</a>
		<h1 class="text-9xl p-32 text-center">新话语词典</h1>
		<main class="text-6xl text-center">
			{allWords.map((word) => <a class="p-6 leading-[6rem] whitespace-nowrap no-underline hover:underline" href={word.url}>{word.title}</a>)}
		</main>
	</body>
</html>
