---
const { content } = Astro.props
---

<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{content.title}</title>
        <style global>
			@import "../styles/global.css";
		</style>
	</head>

    <body class="bg-red-32 text-yellow-32 font-bold">
        <a class="no-underline text-3xl" href="/" hreflang="zh-cmn-Hans">⬆</a>
        <h1 class="font-serif text-center text-6xl  pt-32">{content.title}</h1>
        <main class="font-serif text-3xl text-yellow-32 pt-32">
            <slot />
        </main>
    </body>
</html>